@use '@angular/material' as mat;

@include mat.core();

$website-management-tool-primary: mat.define-palette(mat.$indigo-palette);
$website-management-tool-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$website-management-tool-warn: mat.define-palette(mat.$red-palette);

$website-management-tool-theme: mat.define-light-theme((
  color: (
    primary: $website-management-tool-primary,
    accent: $website-management-tool-accent,
    warn: $website-management-tool-warn,
  )
));

@include mat.all-component-themes($website-management-tool-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
